/src/QtScrcpy.pro.user
/output/mac/*
/output/linux/*
/*.user
/QtScrcpy/*.user
/server/.gradle/4.6/fileChanges/last-build.bin
/server/.gradle/4.6/fileContent/fileContent.lock
/server/.gradle/4.6/fileHashes/fileHashes.bin
/server/.gradle/4.6/fileHashes/fileHashes.lock
/server/.gradle/4.6/fileHashes/resourceHashesCache.bin
/server/.gradle/4.6/javaCompile/classAnalysis.bin
/server/.gradle/4.6/javaCompile/javaCompile.lock
/server/.gradle/4.6/javaCompile/taskHistory.bin
/server/.gradle/4.6/javaCompile/taskJars.bin
/server/.gradle/4.6/taskHistory/taskHistory.bin
/server/.gradle/4.6/taskHistory/taskHistory.lock
/server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/server/.gradle/buildOutputCleanup/cache.properties
/server/.gradle/buildOutputCleanup/outputFiles.bin
/server/.gradle/vcsWorkingDirs/gc.properties
/server/.idea/caches/build_file_checksums.ser
/server/.idea/codeStyles/Project.xml
/server/.idea/gradle.xml
/server/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
/server/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
/server/.idea/misc.xml
/server/.idea/modules.xml
/server/.idea/runConfigurations.xml
/server/.idea/server.iml
/server/.idea/workspace.xml
/server/build/generated/source/aidl/debug/android/view/IRotationWatcher.java
/server/build/generated/source/buildConfig/debug/com/genymobile/scrcpy/BuildConfig.java
/server/build/generated/source/r/debug/com/genymobile/scrcpy/R.java
/server/build/intermediates/classes/debug/android/view/IRotationWatcher$Stub$Proxy.class
/server/build/intermediates/classes/debug/android/view/IRotationWatcher$Stub.class
/server/build/intermediates/classes/debug/android/view/IRotationWatcher.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/BuildConfig.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/ControlEvent.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/ControlEventReader.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/DesktopConnection.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Device$1.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Device$RotationListener.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Device.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/DisplayInfo.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/EventController.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/IO.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/KeyComposition.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Ln$Level.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Ln.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Options.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Position.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/R.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/ScreenEncoder.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/ScreenInfo.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Server$1.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Server$2.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Server.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/Size.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/wrappers/DisplayManager.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/wrappers/InputManager.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/wrappers/PowerManager.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/wrappers/ServiceManager.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/wrappers/SurfaceControl.class
/server/build/intermediates/classes/debug/com/genymobile/scrcpy/wrappers/WindowManager.class
/server/build/intermediates/incremental/compileDebugAidl/dependency.store
/server/build/intermediates/incremental/debug-mergeJavaRes/merge-state
/server/build/intermediates/incremental/debug-mergeJniLibs/merge-state
/server/build/intermediates/incremental/mergeDebugAssets/merger.xml
/server/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/server/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
/server/build/intermediates/incremental/mergeDebugResources/merger.xml
/server/build/intermediates/incremental/mergeDebugShaders/merger.xml
/server/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
/server/build/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
/server/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/FP87NbZceHS9rljl7uP+5xOlulI=
/server/build/intermediates/javaPrecompile/debug/annotationProcessors.json
/server/build/intermediates/manifests/density/debug/output.json
/server/build/intermediates/manifests/full/debug/AndroidManifest.xml
/server/build/intermediates/manifests/full/debug/output.json
/server/build/intermediates/manifests/instant-run/debug/output.json
/server/build/intermediates/res/debug/output.json
/server/build/intermediates/res/debug/resources-debug.ap_
/server/build/intermediates/splits-support/debug/apk-list/apk-list.gson
/server/build/intermediates/splits-support/debug/split-list/split-list.gson
/server/build/intermediates/transforms/dexBuilder/debug/0/android/view/IRotationWatcher$Stub$Proxy.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/android/view/IRotationWatcher$Stub.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/android/view/IRotationWatcher.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/BuildConfig.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/ControlEvent.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/ControlEventReader.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/DesktopConnection.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Device$1.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Device$RotationListener.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Device.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/DisplayInfo.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/EventController.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/IO.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/KeyComposition.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Ln$Level.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Ln.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Options.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Position.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/R.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/ScreenEncoder.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/ScreenInfo.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Server$1.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Server$2.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Server.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/Size.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/wrappers/DisplayManager.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/wrappers/InputManager.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/wrappers/PowerManager.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/wrappers/ServiceManager.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/wrappers/SurfaceControl.dex
/server/build/intermediates/transforms/dexBuilder/debug/0/com/genymobile/scrcpy/wrappers/WindowManager.dex
/server/build/intermediates/transforms/dexBuilder/debug/__content__.json
/server/build/intermediates/transforms/dexMerger/debug/0/classes.dex
/server/build/intermediates/transforms/dexMerger/debug/__content__.json
/server/build/intermediates/transforms/externalLibsDexMerger/debug/__content__.json
/server/build/intermediates/transforms/mergeJavaRes/debug/0.jar
/server/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
/server/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
/server/build/outputs/apk/debug/output.json
/server/build/outputs/apk/debug/server-debug.apk
/server/build/outputs/logs/manifest-merger-debug-report.txt
/server/gradle/wrapper/gradle-wrapper.jar
/server/gradle/wrapper/gradle-wrapper.properties
/server/gradlew
/server/gradlew.bat
/server/local.properties
/output/win/debug/QtScrcpy.ilk
/output/win/debug/QtScrcpy.pdb
/output/win/debug/QtScrcpy.exe
